<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Albrecht — Thumnnail Viewer</title>
  <meta name="description" content="Albrecht Photo Viewer, thumbnail view">
  <meta name="author" content="Joris J. van Zundert">
  <!--link rel="stylesheet" href="css/styles.css?v=1.0"-->
</head>

<body>
  <h1>Hello World!</h1>
  <img src="/iipsrv/iipsrv.fcgi?FIF=IMG_0773.tif&WID=64&ROT=270&CVT=jpeg"/>
</body>
</html>
