<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Albrecht — Thumnnail Viewer</title>
  <meta name="description" content="Albrecht Photo Viewer, thumbnail view">
  <meta name="author" content="Joris J. van Zundert">
  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="js/iscroll-probe.js"></script>
  <script type="text/javascript" src="js/blazy.js"></script>
  <script type="text/javascript" src="js/openseadragon-bin-2.3.1/openseadragon.js"></script>
  <script type="text/javascript" src="js/blazy-iscroll-utils.js"></script>
  </script>
  <style>
  </style>
</head>

<body onload="document_loaded()">
  <div id="viewer">
  </div>
  <div id="wrapper">
    <div id="scroller">
        <% @thumbnails.each do |thumbnail| %><%= thumbnail %><% end %>
      </div>
    </div>
  </div>
</body>
</html>
